<!doctype html>
<html lang="en">
<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
    .message {font-size: 1.3em; font-weight: bold;}
  </style>
  <script src="angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="LunchCheck">
  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>
    <div class="form-group">
      <!-- An empty item (i.e., ",," and ", ,") is NOT counted as item -->
      <input id="lunch-menu"
        type="text"placeholder="list comma separated dishes you usually have for lunch"
        class="form-control"
        ng-model="inputList">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="checkList()">Check If Too Much</button>
    </div>
    <div class="form-group message">
      <span ng-style="messageStyle">{{message}}</span>
    </div>
  </div>
</body>
</html>